@tailwind base;
@tailwind components;
@tailwind utilities;

.table-scroll{
    height: 250px;
    overflow: scroll;

}

/* Scrollbar Track */
.table-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  padding: 3px;
}

.table-scroll::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 4px;
  
}

/* Scrollbar Thumb */
.table-scroll::-webkit-scrollbar-thumb {
  background: #737373;
  border-radius: 4px;
 
}

.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input::placeholder,
select::placeholder,
textarea::placeholder{
  color: #fff !important;
}

select option{
  color: #000;
}


