@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'datatables.net-dt/css/jquery.dataTables.css';
@import 'datatables.net-responsive-dt/css/responsive.dataTables.css';


.table-scroll{
    height: 250px;
    overflow: scroll;

}

/* Scrollbar Track */
.table-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  padding: 3px;
}

.table-scroll::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 4px;
  
}

/* Scrollbar Thumb */
.table-scroll::-webkit-scrollbar-thumb {
  background: #737373;
  border-radius: 4px;
 
}

.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input::placeholder,
select::placeholder,
textarea::placeholder{
  color: #fff !important;
}

select option{
  color: #000;
}


body {
  font-family: 'Inter', sans-serif;
}

/* html-message {
    white-space: pre-wrap;
    font-family: sans-serif;
} */

.htmlmessage {
    white-space: pre-wrap;
    font-family: sans-serif;
}

.recharts-wrapper{
  transform: translateX(-37px) !important;
}

.forecast-chart .recharts-tooltip-item{
  color: #fff !important;
}